<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.delarocha.singularia">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_singularia_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.Souvenirs"
            android:noHistory="false"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".camera.ImagePreview"
            android:noHistory="false" />
        <activity
            android:name=".activities.AccountConfiguration"
            android:label="Configuracion de Cuenta"
            android:noHistory="false"
            android:theme="@style/AppTheme" />
        <activity android:name=".camera.SingulariaCam" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.InicioActivity"
            android:noHistory="false"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delarocha.singularia.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:noHistory="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ImageGalleryActivity"
            android:label="@string/ImageGalleryActivityTitle"
            android:noHistory="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.PubEscritaActivity"
            android:label="@string/title_activity_invitaciones"
            android:noHistory="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TipoInvitaActivity"
            android:label="Invitaciones"
            android:noHistory="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.invita.InvitaBoda"
            android:noHistory="false" />
        <activity
            android:name=".activities.invita.InvitaBabyShower"
            android:noHistory="false" />
        <activity
            android:name=".activities.invita.InvitaBautizo"
            android:noHistory="false" />
        <activity
            android:name=".activities.invita.InvitaFiestaInf"
            android:noHistory="false" />
        <activity
            android:name=".activities.invita.InvitaXVAnos"
            android:noHistory="false" />
        <activity
            android:name=".activities.invita.InvitaGraduacion"
            android:noHistory="false" />
        <activity
            android:name=".activities.invita.InvitaFiestaTem"
            android:noHistory="false" />
        <activity
            android:name=".activities.invita.InvitaDespedida"
            android:noHistory="false" />
        <activity
            android:name=".activities.SignUpActivity"
            android:noHistory="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.InicioActivity2"
            android:label="@string/title_activity_inicio22"
            android:noHistory="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ResetPassword"
            android:noHistory="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ShopCartActivity"
            android:label="ShopCart"
            android:noHistory="false"
            android:theme="@style/AppTheme" />
    </application>
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>